body{
  background-image: url("img/fondo2.png");
}



 #loadingBar {
	position:absolute;
	top:0px;
	left:0px;
	/*width: 902px;*/
	height: 100%;
	background-color:rgba(200,200,200,0.8);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	opacity:1;
}

#wrapper {
	position:relative;
	width:900px;
	height:900px;
}

#text {
	position:absolute;
	top:8px;
	left:530px;
	width:30px;
	height:50px;
	margin:auto auto auto auto;
	font-size:22px;
	color: #000000;
}


div.outerBorder {
	position:relative;
	top:400px;
	width:600px;
	height:44px;
	margin:auto auto auto auto;
	border:8px solid rgba(0,0,0,0.1);
	background: rgb(252,252,252); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border-radius:72px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

#border {
	position:absolute;
	top:9px;
	left:10px;
	width:500px;
	height:23px;
	margin:auto auto auto auto;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
	border-radius:10px;
}

#bar {
	position:absolute;
	top:0px;
	left:0px;
	width:20px;
	height:20px;
	margin:auto auto auto auto;
	border-radius:11px;
	border:2px solid rgba(30,30,30,0.05);
	background: rgb(0, 173, 246); /* Old browsers */
	box-shadow: 2px 0px 4px rgba(0,0,0,0.4);
}

@media all and (max-height: 3600px ){
	#mynetwork {
		height: 3600px;
   }
}

@media all and (max-height: 3500px ){
	#mynetwork {
		height: 3500px;
   }
}

@media all and (max-height: 3400px ){
	#mynetwork {
		height: 3400px;
   }
}

@media all and (max-height: 3300px ){
	#mynetwork {
		height: 3300px;
   }
}

@media all and (max-height: 3200px ){
	#mynetwork {
		height: 3200px;
   }
}

@media all and (max-height: 3100px ){
	#mynetwork {
		height: 3100px;
   }
}

@media all and (max-height: 3000px ){
	#mynetwork {
		height: 3000px;
   }
}

@media all and (max-height: 2900px ){
	#mynetwork {
		height: 2900px;
   }
}

@media all and (max-height: 2800px ){
	#mynetwork {
		height: 2800px;
   }
}

@media all and (max-height: 2700px ){
	#mynetwork {
		height: 2700px;
   }
}

@media all and (max-height: 2600px ){
	#mynetwork {
		height: 2600px;
   }
}

@media all and (max-height: 2500px ){
	#mynetwork {
		height: 2500px;
   }
}

@media all and (max-height: 2400px ){
	#mynetwork {
		height: 2400px;
   }
}

@media all and (max-height: 2300px ){
	#mynetwork {
		height: 2300px;
   }
}

@media all and (max-height: 2200px ){
	#mynetwork {
		height: 2200px;
   }
}

@media all and (max-height: 2100px ){
	#mynetwork {
		height: 2100px;
   }
}

@media all and (max-height: 2000px ){
	#mynetwork {
		height: 2000px;
   }
}

@media all and (max-height: 1900px ){
	#mynetwork {
		height: 1900px;
   }
}

@media all and (max-height: 1800px ){
	#mynetwork {
		height: 1800px;
   }
}

@media all and (max-height: 1700px ){
	#mynetwork {
		height: 1700px;
   }
}

@media all and (max-height: 1600px ){
	#mynetwork {
		height: 1600px;
   }
}

@media all and (max-height: 1500px ){
	#mynetwork {
		height: 1500px;
   }
}

@media all and (max-height: 1400px ){
	#mynetwork {
		height: 1400px;
   }
}

@media all and (max-height: 1300px ){
	#mynetwork {
		height: 1300px;
   }
}

@media all and (max-height: 1200px ){
	#mynetwork {
		height: 1200px;
   }
}

@media all and (max-height: 1000px ){
	#mynetwork {
		height: 1000px;
   }
}

@media all and (max-height: 900px ){
	#mynetwork {
		height: 900px;
   }
}

@media all and (max-height: 800px ){
	#mynetwork {
		height: 800px;
   }
}

@media all and (max-height: 700px ){
	#mynetwork {
		height: 700px;
   }
}
